
:root {
  --theme-red: #f92672;
  --theme-green: #a6e22e;
  --theme-yellow: #e6db74;
  --theme-blue: #66d9ef;
  --theme-magenta: #fd971f;
  --theme-cyan: #ae81ff;
  --theme-text: #f8f8f2;
  --theme-bg: #272822;
}

* {
  box-sizing: border-box;
}

body {
  font-family: Poppins, Arial;
  margin: 0;
  padding: 0;
  color: var(--theme-text);
  background-color: var(--theme-bg);
}

header {
  position: sticky;
  background-color: #383a3c;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 6rem 0;
  padding-left: 1.5em;
  padding-right: 1.5em;
}

header:hover {
  opacity: 1;
}

.logo {
  width: fit-content;
  font-size: 3.5rem;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.logo span:first-child {
  color: var(--theme-blue);
}

.logo span:last-child {
  color: var(--theme-cyan);
}

header a {
  text-decoration: none;
  color: inherit;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  transform: translateX(-100vw);
  z-index: 100;
  display: flex;
  place-items: center;
  background-color: inherit;
  font-size: 1.5rem;
  font-weight: 500;
  opacity: 0.8;
  width: 100vw;
  height: 100vh;
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

nav ul {
  display: flex;
  height: 90%;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

nav.reveal {
  transform: translateX(0);
}

section {
  margin-bottom: 8em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset {
  border: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  width: 70%;
  flex-direction: column;
  align-content: center;
}

button[type=submit] {
  width: fit-content;
  background-color: var(--theme-cyan);
  color: var(--theme-text);
  font-size: 1.2rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 0.7em 1.2em;
}

fieldset > * {
  width: 100%;
}

legend {
  font-size: 2rem;
}

input[type=text], input[type=email], textarea {
  padding: 0.8em;
  width: 100%;
  margin-block: 1em;
  margin-left: auto;
  margin-right: auto;
}

textarea {
  min-height: 300px;
}

#navbar-btn {
  border-style: none;
  background-color: var(--theme-bg);
  width: 60px;
  z-index: 1000;
}

#navbar-btn .hamburger {
  transition: all 250ms ease-in-out;
}

#navbar-btn.opened .hamburger {
  transform: rotate(0.625turn);
  color: white;
}

#navbar-btn.opened .hamburger > rect:first-child {
  transform: rotate(90deg) translate(0px, -33px);
}

#navbar-btn.opened .hamburger > rect:last-child {
  width: 0;
  opacity: 0;
}

#intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

#intro > p {
  width: 350px;
  font-size: 1.5rem;
}

.project {
  display: flex;
  flex-direction: column;
  margin-block: 3em;
  gap: 1.6em;
}

.project a {
  text-decoration: none;
}

.project h3 {
  margin-top: 0;
}

.project h4 {
  margin-top: 0.5em;
  margin-bottom: 0.3em;
}

.project > img {
  aspect-ratio: 1 / 1;
  border-radius: 8px;
  width: 100%;
}

.tags {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  padding-left: 0;
  gap: 1em;
  font-size: 0.9rem;
  font-weight: 500;
}

.tags li {
  display: inline-block;
  padding: 0.3em 0.8em;
  background-color: var(--theme-cyan);
  color: var(--theme-text);
  border-radius: 6px;
}

@media screen and (min-width: 600px) {
  header {
    justify-content: start;
    align-items: center;
    column-gap: 10em;
  }

  main {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
  }

  nav {
    position: static;
    z-index: 1;
    opacity: 1;
    align-items: center;
    transform: translateX(0);
    width: auto;
    height: auto;
  }

  #navbar-btn {
    display: none;
  }

  nav ul {
    flex-direction: row;
    justify-content: space-evenly;
    column-gap: 7vw;
  }

  #intro {
    flex-direction: row;
    justify-content: center;
    align-items: start;
  }

  .project {
    flex-direction: row;
  }

  .project > img {
    width: auto;
    height: 300px;
  }
}


.hamburger {
  color: var(--theme-text);
}

#navbar a {
  text-decoration: none;
  position: relative;
  color: white;
}

/*
#navbar a.current {
  color: var(--theme-cyan);
}
*/

#navbar a.current::after {
  content: "";
  background-color: var(--theme-cyan);
  position: absolute;
  left: 0;
  bottom: -14px;
  width: 100%;
  height: 8px;
}

#navbar a:hover {
  color: var(--theme-cyan);
}


#navbar a:not(.current)::after {
  content: "";
  background-color: var(--theme-cyan);
  position: absolute;
  left: 50%;
  bottom: -14px;
  width: 0;
  height: 8px;
  opacity: 0;
  transition: all 0.35s ease-in-out;
}

#navbar a:hover::after {
  left: 0;
  opacity: 1;
  width: 100%;
}

/*
#navbar a:hover {
  color: var(--primary-light);
}
*/

/*
 *  Animated Logo
 */

#animated-logo {
  width: 400px;
  overflow: hidden;
}

#D {
  color: var(--theme-blue);
  font-size: 20rem;
}

#name {
  position: absolute;
  font-size: 2rem;
  top: 15px;
  left: 0.9375rem;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

#animated-logo:hover #name {
  opacity: 1;
}

#info {
  position: absolute;
  font-size: 1.5rem;
  bottom: 15px;
  left: 0.9375rem;
  opacity: 0;
  transition: opacity 0.8s ease-in-out;
}

#animated-logo:hover #info {
  opacity: 1;
}

#animated-logo-i {
  position: relative;
}

#animated-logo-i::before {
  position: absolute;
  content: "";
  width: 300px;
  height: 100%;
  transform: skew(-30deg) translateX(118%);
  background-color: var(--theme-cyan);
  opacity: 0.4;
  transition: all 0.6s ease;
}

#animated-logo-i::after {
  top: 0;
  position: absolute;
  content: "";
  width: 300px;
  height: 100%;
  transform: skew(30deg) translateX(118%);
  background-color: var(--theme-cyan);
  opacity: 0.4;
  transition: all 0.6s ease;
}

#animated-logo-ii::before {
  position: absolute;
  content: "";
  width: 300px;
  height: 100%;
  transform: skew(-30deg) translate(133%);
  background-color: var(--theme-cyan);
  opacity: 0.6;
  transition: all 0.6s ease;
}

#animated-logo-ii::after {
  top: 0;
  position: absolute;
  content: "";
  width: 300px;
  height: 100%;
  transform: skew(30deg) translateX(58%);
  background-color: var(--theme-cyan);
  opacity: 0.4;
  transition: all 0.6s ease;
}


#animated-logo-ii {
  position: relative;
}

#animated-logo:hover #animated-logo-i::before {
  transform: skew(-30deg) translateX(78%);
}

#animated-logo:hover #animated-logo-ii::before {
  transform: skew(-30deg) translate(93%);
}

#animated-logo:hover #animated-logo-i::after {
  transform: skew(30deg) translateX(78%);
}

#animated-logo:hover #animated-logo-ii::after {
  transform: skew(30deg) translateX(18%);
}


#portrait {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  font-size: clamp(0.3rem, 1vw, 0.6rem);
  padding: 1em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

#leetcode-graph {
  padding: 1em;
}

text {
  fill: currentColor;
}

.easy {
  color: var(--theme-green);
}

.medium {
  color: var(--theme-yellow);
}

.hard {
  color: var(--theme-red);
}

.icon {
  width: 2rem;
  aspect-ratio: 1 / 1;
}

.icon:hover {
  filter: invert(56%) sepia(21%) saturate(4354%) hue-rotate(221deg) brightness(102%) contrast(102%);
}

i {
  display: inline-block;
  height: 1rem;
  width: 1rem;
}

img {
  object-fit: cover;
}

